<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active">
                <a routerLink="books">Books</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li routerLinkActive="active" *ngIf="!isAuth">
                <a routerLink="auth/signup">New account</a>
            </li>
            <li routerLinkActive="active" *ngIf="!isAuth">
                <a routerLink="auth/signin">Connection</a>
            </li>
            <li>
                <a (click)="onSignOut()" *ngIf="isAuth" style="cursor: pointer;">Sign out</a>
            </li>
        </ul>
    </div>
</nav>